.search {
  position: relative;
  color: #fff;
  input {
    width: 200px;
    padding: 5px 18px;
    border: 1px solid #fff;
    border: 1px solid #fff;
    outline: none;
    background: none;
    border-radius: 32px;
    @media screen and (max-width: 460px) {
      width: 160px;
    }
  }
  button {
    background: none;
    outline: none;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
}